/* navigation */
table.nav
{
	font-size: 13px;
}

table.nav td
{
	padding-left: 17px;
	padding-right: 17px;
	height: 22px;
	voice-family: "\"}\"";
	voice-family: inherit;
	padding-top: 3px;
}
html > body table.nav td
{
	padding-top: 0px;
}

table.nav_selected
{
	background: Transparent url(../_images/nav_bg_hi.gif) repeat-x top left;
	font-weight: bold;
}

a.nav, a.nav:link, a.nav:active, a.nav:visited, a.nav:hover
{
	display: block;
	width: 100%;
}

a.nav_selected, a.nav_selected:link, a.nav_selected:active, a.nav_selected:visited, a.nav_selected:hover
{
	color: #FFFFFF;
}

a.nav:hover
{
	font-weight: bold;
}

.sublevel
{
	/* this is a bugfix for asp:Menu in IE8 */
	z-index: 100;
	position: relative;
}

table.sublevel
{
	font-size: 13px;
	background: Transparent url(../_images/subnav_bg.jpg) repeat-y top left;
}

table.sublevel td
{
	padding-left: 17px;
	padding-right: 17px;
	height: 18px;
	voice-family: "\"}\"";
	voice-family: inherit;
	padding-top: 3px;
}
html > body table.sublevel td
{
	padding: 3px;
}

a.sublevel, a.sublevel:link, a.sublevel:active, a.sublevel:visited, a.sublevel:hover
{
	display: block;
	color: #000000;
	vertical-align: middle;
}

a.sublevel:hover
{
	color: #0033cc;
}

table.sublevel_selected
{
	background: #378CCA url(../_images/nav_bg_hi.gif) repeat-x top left;
	font-weight: bold;
}

table.sublevel_selected td
{
	padding-left: 17px;
	padding-right: 17px;
	height: 18px;
	padding-top: 3px;
}

a.sublevel_selected, a.sublevel_selected:link, a.sublevel_selected:active, a.sublevel_selected:visited, a.sublevel_selected:hover
{
	color: #FFFFFF;
}
/* end navigation */