body
{
    font-family: "B Traffic", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
}

h1, h2, h3, h4, h5, h6
{
    color: #2A416F;
}

h1
{
    font-size: 18px;
}

h2
{
    font-size: 12px;
    font-weight: bold;
}

a:link
{
    color: #0094FF;
    text-decoration:none;
}

a:hover
    {
        color: #0026FF;
    text-decoration:none;
    }

a:active
{
    color: red;
}

a:visited
{
    color: purple;
}

div#navigation > td a:link a:hover a:visited a:active
{
    color: #000;
}


.cmbSections
{
    font-family: "B Traffic", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 13px;
}